html, body {
    font-size: 15px;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Noto Sans JP", "游ゴシック Medium", YuGothic, YuGothic M, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}

body {
    margin: 0 auto;
    color: #606060;
    letter-spacing: 3px;
    line-height: 2;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    object-fit: cover;
}

a {
    color: #F0A900;
}

/********************************
共通
*********************************/

/* 要素いっぱいに広げたいaタグ */

.a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page_img {
    position: relative;
    top: -45px;
    z-index: -1;
}