header {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.header_inner {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

.header_logo {
    color: #F0A900;
    margin: 0 40px;
}

.header_logo_main {
    font-size: 2rem;
}

.header_nv {
    display: flex;
    justify-content: center;
}

.nv_item {
    margin: 0 1vw;
}