/********************************
サービス内容
*********************************/

.service_content1 {
    margin: 0 auto;
    margin-bottom: 80px;
}

.service_content1_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    top: -60px;
    text-align: center;
}

.service_content1_flex {
    display: flex;
    justify-content: center;
}

.service_content1_item {
    position: relative;
    margin: 0 10px;
    width: 370px;
}

.service_content1_heading {
    color: #fff;
    background-color: #F0A900;
    padding: 5px 10px;
    font-size: 18px;
    position: relative;
    top: -35px;
    left: 20px;
    text-align: left;
    display: inline-block;
}

.service_content1_heading img {
    position: absolute;
    top: -30px;
    object-fit: contain;
    width: 45px;
    left: -20px;
}

.service_content1_fruit1 {
    position: absolute;
    width: 50px;
    top: 180px;
    left: 280px;
}

.service_content1_fruit2 {
    position: absolute;
    width: 70px;
    top: -50px;
    left: 130px;
}

.service_content1_fruit3 {
    position: absolute;
    width: 45px;
    top: 195px;
    left: 290px;
}

.service_content1_des span {
    font-size: 12px;
}

.service_content2 {
    padding: 40px;
}

.service_content2_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.service_content2_flex {
    display: flex;
    justify-content: center;
}

.service_content2_item1, .service_content2_item2 {
    background-color: #fff;
    padding: 20px;
    margin: 0 40px;
}

.service_content2_item1 {
    width: 50%;
    position: relative;
}

.service_content2_item2 {
    width: 20%;
    position: relative;
}

.service_content2_item_title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
}

.service_content2_list {
    margin-bottom: 20px;
}

.service_content2_item1 .service_content2_list_item {
    display: inline-block;
    width: 45%;
}

.service_content2_list_item span {
    color: #F0A900;
    font-weight: bold;
}

.service_content2_item_des {
    font-size: 12px;
    margin-bottom: 20px;
}

.service_content2_item1_img {
    width: 60px;
    top: -10px;
    position: absolute;
    left: 35%;
}

.service_content2_item2_img {
    width: 60px;
    position: absolute;
    top: -15px;
    left: 75%;
}

/********************************
便利な使い方
*********************************/

.service_content3 {
    position: relative;
    min-height: 970px;
}

.service_content3_back {
    z-index: -1;
}

.service_content3_back img {
    object-fit: contain;
}

.service_content3 .fruit {
    width: 70px;
    position: absolute;
    left: 20%;
    top: 75px;
}

.service_content3_content {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translateX(-50%);
}

.service_cotent3_title {
    color: #F0A900;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.service_content3_flex {
    display: flex;
    justify-content: center;
}

.service_content3_item {
    width: 33%;
    padding: 20px;
    position: relative;
}

.service_content3 .item_label {
    position: absolute;
    text-align: left;
    top: 0%;
}

.service_content3 .item_label_item {
    background-color: #fff;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    margin-bottom: 5px;
}

.service_content3 .item_des {
    text-align: left;
}

/********************************
便利な使い方 スライド
*********************************/

.slideshow {
    position: relative;
    overflow: hidden;
}

input[name="slideshow"] {
    display: none;
}

/* :::::: slideContents :::::: */

.slideContents {
    display: flex;
    position: relative;
    width: 500%;
    /* background: lightSeaGreen; */
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slideContents section {
    width: 20%;
}

.slideContents section img {
    max-width: 100%;
    /* padding: 0 50px; */
    /* box-sizing: border-box; */
    /* vertical-align: middle; */
}

/* :::::: arrows :::::: */

.arrow, .arrow label, .arrow .ico {
    position: absolute;
}

.arrow {
    top: 0;
    margin: 0;
    transition: background .3s;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* .arrow:hover {
    background: rgba(255, 255, 255, .2);
} */

.arrow, .arrow label {
    top: 120px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.arrow label {
    top: 0;
    left: 0;
    z-index: 1;
}

.arrow .ico {
    height: 80px;
}

/* .arrow .ico {
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    opacity: 0;
}

.prev .ico {
    left: 50%;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}

.next .ico {
    right: 50%;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}

.arrow:hover .ico {
    opacity: .6;
}

.prev:hover .ico {
    left: calc(50% - 6px);
}

.next:hover .ico {
    right: calc(50% - 6px);
} */

/* :::::: mechanism :::::: */

#switch1:checked~.slideContents {
    transform: translateX(0);
}

#switch2:checked~.slideContents {
    transform: translateX(-20%);
}

#switch3:checked~.slideContents {
    transform: translateX(-40%);
}

#switch4:checked~.slideContents {
    transform: translateX(-60%);
}

#switch5:checked~.slideContents {
    transform: translateX(-80%);
}

/* :::::: arrow mechanism :::::: */

.arrow label {
    pointer-events: none;
}

#switch1:checked~.prev label[for="switch5"], #switch2:checked~.prev label[for="switch1"], #switch3:checked~.prev label[for="switch2"], #switch4:checked~.prev label[for="switch3"], #switch5:checked~.prev label[for="switch4"], #switch1:checked~.next label[for="switch2"], #switch2:checked~.next label[for="switch3"], #switch3:checked~.next label[for="switch4"], #switch4:checked~.next label[for="switch5"], #switch5:checked~.next label[for="switch1"] {
    pointer-events: auto;
}

/********************************
ご利用いただく皆様へ
*********************************/

.service_content5 {
    padding: 40px;
    margin-bottom: 40px;
}

.service_content5_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 5px;
    text-align: center;
}

.service_content5_sub_title {
    margin-bottom: 40px;
    text-align: center;
}

.service_content5 table {
    max-width: 1200px;
    margin: 0 auto;
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 5vw 20px;
}

.service_content5 td {
    padding: 40px;
    background-color: #fff;
}

.service_content5 .t_img {
    width: 250px;
    height: 150px;
    margin: 0 auto;
}

.service_content5 .t_img img {
    object-fit: contain;
}

.service_content5 .t_title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto 20px;
}