.entry {
    /********************************
    シッター募集トップ
    *********************************/
    .entry_mv {
        position: relative;
        top: 20px;
        left: 0;
        margin-bottom: 80px;
        .entry_mv_content {
            position: absolute;
            bottom: 20%;
            right: 10vw;
            color: #fff;
            text-align: right;
            @media screen and (max-width: 765px) {
                left: 5vw;
                text-align: left;
            }
        }
        .entry_mv_title {
            font-weight: bold;
            font-size: 40px;
            margin-bottom: 20px;
        }
        .entry_mv_text {
            font-size: 20px;
        }
    }
    .content1 {
        padding: 0 20px;
        .content1_text {
            text-align: center;
            margin-bottom: 80px;
            line-height: 2.5;
            @media screen and (max-width: 765px) {
                text-align: left;
            }
        }
        .content1_img {
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 80px;
        }
        .content1_flex {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            @media screen and (max-width: 765px) {
                display: block;
                margin: 0 auto;
            }
        }
        .content1_item {
            width: 400px;
            margin: 0 60px;
            @media screen and (max-width: 765px) {
                margin: 0 auto;
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .content1_item_title {
            font-weight: bold;
            margin-bottom: 20px;
        }
        .content1_item_text {
            margin-bottom: 20px;
        }
    }

    /********************************
託児所での実践研修の実施
*********************************/
    .content2 {
        background-color: #ecf6e4;
        text-align: center;
        padding: 80px 10px;
        position: relative;
        z-index: -1;
    }
    .content2_title {
        font-size: 2rem;
        color: #f0a900;
        margin-bottom: 40px;
        letter-spacing: 5px;
        font-weight: bold;
    }
    .content2_img {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .content2_text {
        margin-bottom: 40px;
        line-height: 2.5;
    }
    .content2_flex {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 765px) {
            display: block;
        }
    }
    .content2_item {
        position: relative;
        margin: 0 40px;
        @media screen and (max-width: 765px) {
            margin: 0 auto;
            width: 90%;
            margin-bottom: 40px;
        }
    }
    .entry_training {
        text-align: left;
        padding: 0 40px;
        max-height: 480px;
    }
    .entry_training_back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .entry_training ul {
        color: #fff;
    }
    .entry_training li {
        line-height: 2.5;
    }
    .entry_training_title {
        background-color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px;
        display: inline-block;
        position: relative;
        top: -20px;
        left: 20px;
    }
    .entry_training_img {
        position: absolute;
        bottom: -100px;
        width: 350px;
        @media screen and (max-width: 765px) {
            display: none;
        }
    }
    .entry_flow {
        padding: 20px 60px 40px;
    }
    .entry_flow_back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .entry_flow_title {
        color: #f0a900;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .entry_flow_item {
        position: relative;
        background-color: #f0a900;
        color: #fff;
        width: 220px;
        padding: 5px 10px;
        margin: 0 auto;
        border-radius: 50px;
    }
    .entry_flow_arrow {
        /* font-size: 1.2rem; */
        color: #9ed279;
        text-align: center;
    }
    /********************************
ベビーシッターの声
*********************************/
    .content3 {
        padding: 80px 10px;
    }
    .content3_title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    .content3_flex {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 765px) {
            display: block;
        }
    }
    .content3_item {
        max-width: 350px;
        position: relative;
        margin: 0 40px;
        @media screen and (max-width: 765px) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
    .content3_img {
        background-color: #606060;
        border-radius: 100%;
        margin-bottom: 40px;
    }
    .content3_name {
        background-color: #f0a900;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 38%;
        width: 100px;
        left: 0%;
        height: 100px;
        padding-top: 15px;
        text-align: center;
    }
    .content3_catch {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .content3_text {
        margin-bottom: 40px;
    }
    /********************************
採用条件
*********************************/
    .content4 {
        padding: 80px 10px;
        background-color: #f8edd8;
        position: relative;
    }
    .content4_title {
        margin: 0 auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        max-width: 1000px;
        position: relative;
    }
    .content4_text {
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .content4 th {
        color: #fff;
        background-color: #f0a900;
        width: 380px;
    }
    .content4 th,
    .content4 td {
        padding: 10px 20px;
        text-align: left;
    }
    .content4 .t1 {
        margin: 0 auto;
        margin-bottom: 80px;
        width: 100%;
        max-width: 950px;
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
    .content4 .t1 td {
        background-color: #fff;
    }
    .content4 .t2 {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 100%;
        max-width: 800px;
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
    .content4 .t2 th {
        text-align: center;
    }
    .content4_img1 {
        position: absolute;
        width: 60px;
        top: -10px;
        left: 75vw;
    }
    .content4_img2 {
        position: absolute;
        width: 50px;
        left: 5vw;
    }
}
