@use "variables" as var;

footer {
    text-align: center;
    position: relative;
    background-color: var.$cream;
    .img {
        width: 60px;
        position: absolute;
        top: 130px;
        left: 60%;
        @media screen and (max-width: 1000px) {
            top: 100px;
            left: 70%;
        }
        @media screen and (max-width: 765px) {
            width: 50px;
            top: 55px;
            left: 80%;
        }
    }
    .content {
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 40px;
        @media screen and (max-width: 1000px) {
            padding-top: 40px;
        }
    }
    .logo {
        color: #f0a900;
        font-size: 2rem;
        margin-bottom: 40px;
    }
    .nav1 {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        @media screen and (max-width: 1000px) {
            display: block;
            margin-bottom: 20px;
        }
    }
    .btns {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        @media screen and (max-width: 1000px) {
            display: block;
            margin-bottom: 20px;
        }
    }
    .nav2 {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        @media screen and (max-width: 1000px) {
            display: block;
            margin-bottom: 20px;
        }
    }
    .item {
        margin: 0 20px;
        @media screen and (max-width: 1000px) {
            margin: 0 auto;
            width: 280px;
            margin-bottom: 20px;
        }
    }
    .btn_orange {
        color: #fff;
        background-color: #f0a900;
        border-radius: 50px;
        margin-right: 20px;
        margin-left: auto;
        width: 200px;
        padding: 10px;
        @media screen and (max-width: 1000px) {
            margin: 0 auto;
            width: 280px;
            margin-bottom: 20px;
        }
    }
    .btn_green {
        color: #fff;
        background-color: #a1d073;
        border-radius: 50px;
        margin-left: 20px;
        margin-right: auto;
        width: 200px;
        padding: 10px 20px;
        @media screen and (max-width: 1000px) {
            margin: 0 auto;
            width: 280px;
            margin-bottom: 40px;
        }
    }
    .copyright {
        font-size: 12px;
        margin-top: 40px;
    }
}

/********************************
ガイド
*********************************/

.footer_guide {
    width: 100%;
    padding-bottom: 40px;
    padding: 40px 20px;
    .content {
        background-color: var.$white;
        max-width: 900px;
        padding: 40px;
        margin: 0 auto;
        margin-bottom: 40px;
        border: solid 1px #cacaca;
    }
    .list {
        display: flex;
        justify-content: center;
    }
    .item {
        width: 30%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        @media screen and (max-width: 765px) {
            width: 200px;
        }
    }
    .front_btn_orange {
        background-color: var.$orange;
        border-radius: 50px;
        color: var.$white;
        font-size: 1.2rem;
        padding: 10px 20px;
        margin-bottom: 40px;
    }
    .tel {
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: dotted 1px var.$black;
    }
    .tel span img {
        width: 25px;
    }
    .tel_des {
        font-size: 12px;
    }
    .entry {
        max-width: 900px;
        margin: 0 auto;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
    .des {
        margin: 20px auto 40px;
    }
    @media screen and (max-width: 765px) {
        .list {
            display: block;
        }
    }
}
