@use "variables" as var;
/********************************
フォーム共通
*********************************/
.form {
    margin: 0 auto;
    text-align: left;
    .inner {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .heading {
        display: inline-block;
        // font-size: 1.2rem;
        font-weight: bold;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 180px;
        text-align: right;
        vertical-align: top;
        @media screen and (max-width: 850px) {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
    input[type='text'],
    input[type='date'],
    input[type='email'],
    input[type='tel'],
    select,
    textarea {
        margin: 0 auto;
        padding: 15px;
        width: calc(100% - 270px);
        background-color: var.$input_back;
        border: none;
        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }
    textarea {
        height: 150px;
    }
    input[type='file'] {
        display: none;
    }
    #fake_text_box {
        font-size: 0.8rem;
        margin: 20px auto;
    }
    .file_btn {
        font-size: 1.2rem;
        background: #606060;
        color: #fff;
        border-radius: 50px;
        padding: 10px 80px;
    }
    .row {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .col {
        display: inline-block;
        @media screen and (max-width: 850px) {
            display: block;
        }
    }
    .hissu {
        font-size: 0.8rem;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: left;
        width: 90%;
    }
    .submit_frame {
        margin: 40px auto;
        max-width: 300px;
        .submit {
            background-color: var.$orange;
            padding: 20px 40px;
            font-size: 1.2rem;
            font-weight: bold;
            color: var.$white;
            margin: 0 auto;
            border: none;
            border-radius: 50px;
            letter-spacing: 5px;
            width: 100%;
        }
    }
    .radio {
        margin: 0.5rem;
        input[type='radio'] {
            position: absolute;
            opacity: 0;
            + .radio-label {
                &:before {
                    content: '';
                    background: var.$white;
                    border-radius: 100%;
                    border: 1px solid var.$black;
                    display: inline-block;
                    width: 1.4em;
                    height: 1.4em;
                    position: relative;
                    top: -0.2em;
                    margin-right: 1em;
                    vertical-align: middle;
                    cursor: pointer;
                    text-align: center;
                    transition: all 250ms ease;
                }
            }
            &:checked {
                + .radio-label {
                    &:before {
                        background-color: var.$orange;
                        box-shadow: inset 0 0 0 4px var.$white;
                    }
                }
            }
            &:focus {
                + .radio-label {
                    &:before {
                        outline: none;
                        border-color: var.$black;
                    }
                }
            }
            &:disabled {
                + .radio-label {
                    &:before {
                        box-shadow: inset 0 0 0 4px var.$orange;
                        border-color: darken(var.$orange, 25%);
                        background: darken(var.$orange, 25%);
                    }
                }
            }
            + .radio-label {
                &:empty {
                    &:before {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
/********************************
規約部分
*********************************/
.kiyaku {
    background-color: var.$gray;
    padding: 40px 20px;
    .inner {
        max-width: 1000px;
    }
    textarea.kiyaku_text {
        width: 100%;
        padding: 10px;
        background-color: var.$white;
        border: solid 1px var.$black;
        margin-bottom: 20px;
    }
    .kiyaku_title {
        font-weight: bold;
    }
    .kiyaku_des {
        margin-bottom: 20px;
    }
}
.kiyaku_s {
    width: calc(100% - 270px);
    margin-right: 0;
    margin-left: auto;
    @media screen and (max-width: 765px) {
        width: 100%;
    }
    textarea.kiyaku_text {
        width: 100%;
        padding: 10px;
        background-color: var.$white;
        border: solid 1px var.$black;
    }
    .kiyaku_title {
        font-weight: bold;
        margin-bottom: 20px;
    }
    .kiyaku_des {
        margin-bottom: 20px;
    }
}
.agree {
    text-align: center;
    margin: 20px auto;
    input[type='checkbox']#agree {
        opacity: 0;
        & + label {
            position: relative;
            &::before {
                width: 30px;
                height: 30px;
                content: ' ';
                border-radius: 50%;
                background-color: var.$white;
                position: absolute;
                left: -60%;
                border: solid 1px var.$black;
            }
            &::after {
                width: 20px;
                height: 20px;
                content: ' ';
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                left: -53%;
                top: 1px;
            }
        }
        &:checked + label::after {
            background-color: var.$orange;
        }
    }
}
/********************************
予約フォーム
*********************************/
.reservation {
    .mv {
        margin-bottom: 40px;
    }
    .text {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        .title {
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 5px;
            text-align: center;
            margin-bottom: 40px;
        }
        .des {
            margin-bottom: 40px;
            display: inline-block;
            div {
                width: 270px;
                background: linear-gradient(transparent 60%, #ff6 60%);
            }
        }
        .line {
            display: flex;
            justify-content: center;
            padding: 15px 20px;
            background-color: #00b900;
            color: var.$white;
            text-align: left;
            margin-bottom: 20px;
            font-weight: bold;
            align-items: center;
            img {
                width: 40px;
                margin: 0;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .caution {
            border: solid 2px #f6a917;
            padding: 15px 20px;
            text-align: center;
            margin-bottom: 40px;
            font-weight: bold;
            @media screen and (max-width: 1000px) {
                text-align: left;
            }
        }
        .stepnav {
            text-align: center;
            margin: 0 auto 40px;
            .item {
                width: 25%;
                float: left;
                position: relative;
                &::after {
                    content: ' ';
                    width: 100%;
                    height: 5px;
                    background-color: #f0a900;
                    position: absolute;
                    top: 14%;
                    left: 50%;
                    z-index: -1;
                }
                &:last-child::after {
                    display: none;
                }
            }
            .circle {
                position: relative;
                margin: 0 auto;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: var.$orange;
                div {
                    background-color: #fff;
                    width: 60%;
                    height: 60%;
                    vertical-align: middle;
                    margin: 0 auto;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    position: absolute;
                }
            }
            .step {
                margin: 0 auto 60px;
                font-weight: bold;
            }
        }
    }
    .hyoki {
        font-size: 0.8rem;
    }
    input[type='text'].rsv_time {
        width: 100px;
        margin-left: 20px;
        @media screen and (max-width: 850px) {
            width: 30%;
            margin-left: 0;
        }
    }
    input[type='date'].rsv_date {
        width: 410px;
        @media screen and (max-width: 1020px) {
            width: 280px;
        }
        @media screen and (max-width: 850px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .child {
        font-weight: bold;
        margin-bottom: 40px;
        padding: 10px 20px;
        position: relative;
        text-align: left;
        img {
            width: 30px;
            vertical-align: middle;
        }
        .puls {
            width: 30px;
            height: 30px;
            right: 20px;
            vertical-align: middle;
            position: absolute;
        }
    }
    .accordion:hover {
        cursor: pointer;
    }
    .content {
        display: none;
    }
    .bikou {
        margin-bottom: 40px;
    }
    textarea.bikou_text {
        margin: 0 auto;
        padding: 15px;
        background-color: var.$input_back;
        width: 100%;
        height: 200px;
        border: none;
        @media screen and (max-width: 850px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &.confirm {
        form {
            text-align: center;
            .heading {
                margin-bottom: 0;
                margin-right: 40px;
            }
            .confirm_data {
                display: inline-block;
                width: 400px;
                text-align: left;
            }
        }
    }
}

/********************************
よくあるご質問とお問い合わせ
*********************************/
.contact {
    .mv {
        margin-bottom: 40px;
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 40px;
    }
    .qas {
        margin: 0 auto;
        max-width: 1000px;
        padding: 40px 20px;
        position: relative;
        .fruit1 {
            width: 60px;
            height: 60px;
            top: -40px;
            right: 0;
            position: absolute;
            object-fit: contain;
        }
        .fruit2 {
            width: 40px;
            position: absolute;
            object-fit: contain;
            top: 50%;
        }
        .accordion {
            width: 100%;
            background: var.$white;
            border-bottom: solid 2px var.$orange;
            margin-top: 40px;
            display: flex;
            align-items: center;
            .arrow {
                font-size: 1.4rem;
                width: 40px;
                height: 100%;
                color: var.$white;
                background-color: var.$orange;
                text-align: center;
                vertical-align: middle;
            }
            .cat {
                font-weight: bold;
                font-size: 1.2rem;
                vertical-align: middle;
                padding-left: 20px;
            }
        }
        .accordion_section {
            background-color: #fffaef;
            padding: 40px;
            margin-bottom: 40px;
            display: none;
            .qa_q {
                border-bottom: dotted 2px var.$orange;
                padding: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 20px;
                img {
                    width: 30px;
                    vertical-align: middle;
                }
            }
            .qa_a {
                margin-bottom: 40px;
            }
        }
    }
    .contactform {
        padding: 40px 20px;
        max-width: 1000px;
        margin: 0 auto;
        .contact_mail {
            padding: 20px 40px;
            font-size: 1.2rem;
            font-weight: bold;
            img {
                width: 50px;
                margin-right: 20px;
                vertical-align: middle;
            }
        }
        .keitai {
            text-align: center;
            margin: 40px auto;
        }
        .contect_tel {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto;
            .contect_tel_title {
                font-size: 1.2rem;
                margin: 0 auto;
                font-weight: bold;
                img {
                    vertical-align: middle;
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }
            .contect_tel_area {
                width: 500px;
                background: #fff;
                border-radius: 70px;
                padding: 10px 60px;
                margin: 40px auto;
                /* font-size: 1rem; */
                font-weight: bold;
                text-align: center;
                .contect_tel_num {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
/********************************
シッター募集
*********************************/
.entry_form {
    padding: 40px;
    .entry_form_title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 400px;
        position: relative;
        img {
            position: absolute;
            object-fit: contain;
        }
        .ster1 {
            width: 40px;
            left: 0;
            top: 20px;
        }
        .ster2 {
            width: 50px;
            right: 0;
            top: -15px;
        }
    }
    .filerow {
        margin: 80px auto;
        .btn_frame {
            margin: 0 auto;
            text-align: center;
        }
    }
}
