@use "variables" as var;

/********************************
共通
*********************************/

.front_content {
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.front {
    .heading {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 40px;
        letter-spacing: 10px;
        max-width: 800px;
        position: relative;
        @media screen and (max-width: 765px) {
            letter-spacing: 3px;
        }
    }
    .heading_sub {
        font-size: 1.2rem;
        font-weight: normal;
    }
    /********************************
    メインビジュアル
    *********************************/
    .mv {
        position: relative;
        width: 100%;
        max-width: 2000px;
        height: 60vw;
        @media screen and (max-width: 765px) {
            height: 161vw;
        }
    }
    .mv_text {
        position: absolute;
        top: 12vw;
        left: 60vw;
        font-size: 1.4rem;
        transform: rotate(-10deg);
        width: 317px;
        @media screen and (max-width: 1356px) {
            font-size: 1.2rem;
            top: 8vw;
            left: 10vw;
        }
        @media screen and (max-width: 765px) {
            top: 25vw;
            font-size: 1rem;
        }
    }
    .mv_text_orange {
        background-color: var.$orange;
        margin-bottom: 10px;
        display: inline-block;
        padding: 0px 10px;
        font-size: 2rem;
        font-weight: bold;
        color: var.$white;
        @media screen and (max-width: 1356px) {
            font-size: 1.8rem;
        }
        @media screen and (max-width: 765px) {
            font-size: 1.4rem;
        }
    }
    .mv_backimg {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    /********************************
    メインビジュアル 下
    *********************************/
    .mv_under {
        text-align: center;
    }
    .mv_under_img {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: var.$white;
        transition: 0.3s;
        &:hover {
            img {
                opacity: 0.7;
                filter: alpha(opacity=70); /*ie6、7の透明度指定*/
                /*ちなみにie8の透明度指定はこれ→ -ms-filter: "alpha(opacity=70)";*/
            }
        }
    }
    .mv_under_text {
        margin-bottom: 40px;
        @media screen and (max-width: 480px) {
            text-align: left;
        }
    }
    .front_mvunder_itemimg1 {
        position: absolute;
        top: 30px;
        right: 0vw;
        width: 60px;
        @media screen and (max-width: 480px) {
            top: -16px;
            right: 1vw;
            width: 40px;
        }
    }
    .front_mvunder_itemimg2 {
        position: absolute;
        top: -40px;
        left: 0vw;
        width: 60px;
        @media screen and (max-width: 480px) {
            top: -10px;
            left: 5vw;
            width: 40px;
        }
    }
    /********************************
    NEWS
    *********************************/
    .front_news_posts {
        max-width: 1000px;
        background-color: var.$white;
        margin: 0 auto;
        border-radius: 50px;
        padding: 40px 40px 20px;
        margin-bottom: 40px;
    }
    .front_news_itemimg1,
    .front_news_itemimg2 {
        position: absolute;
    }
    .front_news_itemimg1 {
        top: -50px;
        left: -2vw;
        width: 50px;
    }
    .front_news_itemimg2 {
        top: -20px;
        right: -3vw;
        width: 70px;
    }
    .front_news_post {
        text-align: left;
        border-bottom: dotted 2px var.$black;
        margin-bottom: 20px;
    }
    .front_news_title {
        margin-bottom: 10px;
    }
    .front_news_date {
        border-radius: 50px;
        display: inline-block;
        padding: 0 10px;
        color: var.$white;
        background-color: var.$orange;
        margin-bottom: 10px;
    }
    /********************************
    特徴
    *********************************/
    .front_features {
        position: relative;
        .content {
            margin: 0 auto;
            background-color: var.$cream;
            text-align: center;
            position: relative;
            @media screen and (max-width: 765px) {
                padding: 40px 0;
            }
        }
        .heading {
            color: var.$orange;
            font-size: 2rem;
            font-weight: bold;
            margin: 0 auto;
            margin-bottom: 40px;
            /* letter-spacing: 10px; */
            max-width: 800px;
            position: relative;
        }
        .itemimg1 {
            position: absolute;
            top: 3vw;
            left: 21vw;
            width: 80px;
            z-index: 1;
            @media screen and (max-width: 480px) {
                top: 2vw;
                left: 5vw;
                width: 60px;
            }
        }
        .itemimg2 {
            position: absolute;
            top: 0vw;
            right: 14vw;
            width: 70px;
            transform: rotateZ(10deg);
            z-index: 1;
            @media screen and (max-width: 480px) {
                top: 5vw;
                right: 8vw;
                width: 40px;
            }
        }
        .list {
            margin: 0 auto;
        }
        .item {
            margin: 0 20px;
            width: 28%;
            max-width: 350px;
            height: 650px;
            display: inline-block;
            position: relative;
            text-align: left;
            vertical-align: top;
            @media screen and (max-width: 900px) {
                width: 80%;
                max-width: 100%;
                height: auto;
                padding: 0 20px 170px;
                margin: 0 auto;
            }
            @media screen and (max-width: 765px) {
                width: 100%;
                height: auto;
                padding: 0 20px 120px;
                margin: 0 auto;
            }
        }
        .title {
            color: var.$white;
            background-color: var.$orange;
            position: relative;
            top: -20px;
            left: 15px;
            padding: 5px 10px;
            font-weight: bold;
            display: inline-block;
            font-size: 1.2rem;
        }
        .text1 {
            margin: 20px auto;
            text-align: left;
            span {
                background: linear-gradient(transparent 60%, #ff6 60%);
            }
        }
        .text2 {
            margin: 20px auto;
            text-align: left;
        }
        .btn_frame {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 900px) {
                bottom: 80px;
            }
            @media screen and (max-width: 765px) {
                position: relative;
                margin: 0 auto;
                text-align: center;
                left: 0;
                bottom: -20px;
                transform: translateX(0);
            }
        }
        .imgl {
            top: -20%;
            left: 74%;
            position: relative;
            width: 60px;
            transform: rotateZ(45deg);
        }
        .imgc {
            position: relative;
            width: 50px;
            top: -110%;
            left: 70%;
        }
        .imgr1 {
            position: relative;
            width: 60px;
            top: -110%;
            left: 7%;
            transform: rotateZ(10deg);
        }
        .imgr2 {
            position: relative;
            width: 45px;
            top: -45%;
            left: 80%;
        }
        /********************************
        特徴：画像のアニメーション
        *********************************/
        .img {
            width: 100%;
            height: 20vw;
            max-height: 250px;
            position: relative;
            @media screen and (max-width: 900px) {
                height: 48vw;
                max-height: 100%;
            }
            @media screen and (max-width: 765px) {
                height: 60vw;
            }
        }
        .catch {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
        .catch > img {
            width: 100%;
            // cursor: pointer;
            transition-duration: 0.5s;
        }
        .catch > img:hover {
            transform: scale(1.2) rotate(9deg);
            transition-duration: 0.5s;
        }
    }
    /********************************
    在籍シッター
    *********************************/
    .front_member {
        padding-bottom: 80px;
        .itemimg1 {
            position: absolute;
            top: 4vw;
            left: 28vw;
            width: 80px;
            @media screen and (max-width: 765px) {
                top: 10px;
                left: 10%;
                width: 60px;
            }
        }
        .itemimg2 {
            position: absolute;
            top: 3vw;
            right: 28vw;
            width: 75px;
            @media screen and (max-width: 765px) {
                top: 10px;
                right: 10%;
                width: 50px;
            }
        }
        .list_frame {
            background-color: var.$white;
            max-width: 1400px;
            margin: 0 auto;
            border-radius: 50px;
            padding: 3vw;
            @media screen and (max-width: 480px) {
                border-radius: 30px;
            }
        }
        .des {
            margin: 0 auto;
            margin-bottom: 40px;
            max-width: 802px;
            @media screen and (max-width: 480px) {
                margin: 20px auto;
                text-align: left;
            }
        }
        .list {
            @media screen and (max-width: 480px) {
            }
        }
        .item {
            margin: 0 10px;
            display: inline-block;
            width: 17%;
            min-width: 210px;
            @media screen and (max-width: 765px) {
                width: 30%;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .front_member_img {
            background-color: var.$black;
            border-radius: 100%;
            width: 160px;
            height: 160px;
            margin: 0 auto;
        }
    }
    /********************************
    対応エリア
    *********************************/
    .front_area {
        background-color: #f5ebd4;
        padding-bottom: 60px;
        .content {
            max-width: 1300px;
            margin: 0 auto;
            border-radius: 50px;
            background-color: var.$white;
            padding: 60px 20px;
        }
        .img {
            width: 40%;
            margin: 0 auto;
            @media screen and (max-width: 765px) {
                width: 60%;
            }
        }
        .itemimg2 {
            position: absolute;
            top: 0vw;
            left: 80px;
            width: 65px;
            @media screen and (max-width: 765px) {
                width: 50px;
                left: 1vw;
            }
        }
        .itemimg1 {
            position: absolute;
            top: 0vw;
            right: 80px;
            width: 40px;
            @media screen and (max-width: 765px) {
                width: 30px;
                right: 1vw;
            }
        }
    }
}
