@use "variables" as var;

header {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    transition: 1s;
    z-index: 9999;
    &.hide {
        transform: translateY(-120px);
    }
    .header_inner {
        max-width: 1920px;
    }
    .flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .header_logo {
        color: var.$orange;
        margin: 0 40px;
    }
    .header_logo_main {
        font-size: 2rem;
    }
    .header_nv {
        display: flex;
        justify-content: center;
    }
    .nv_item {
        margin: 0 0.5vw;
        // font-size: 0.8rem;
        @media screen and (max-width: 1356px) {
            display: none;
        }
    }
    /********************************
    ハンバーガーボタン
    *********************************/
    div.burger {
        height: 30px;
        width: 40px;
        position: absolute;
        left: 21px;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 1356px) {
            display: block;
        }
        &.open + .flex .header_logo {
            display: none;
        }
        div.x,
        div.y,
        div.z {
            position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
            background: var.$orange;
            border-radius: 2px;
            -webkit-transition: all 200ms ease-out;
            -moz-transition: all 200ms ease-out;
            -ms-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
        }
        div.x,
        div.y,
        div.z {
            height: 3px;
            width: 26px;
        }
        div.y {
            top: 18px;
        }
        div.z {
            top: 37px;
        }
        div.collapse {
            top: 20px;
            background: var.$white;
            -webkit-transition: all 70ms ease-out;
            -moz-transition: all 70ms ease-out;
            -ms-transition: all 70ms ease-out;
            -o-transition: all 70ms ease-out;
            transition: all 70ms ease-out;
        }
        div.rotate30 {
            -ms-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-transition: all 50ms ease-out;
            -moz-transition: all 50ms ease-out;
            -ms-transition: all 50ms ease-out;
            -o-transition: all 50ms ease-out;
            transition: all 50ms ease-out;
        }
        div.rotate150 {
            -ms-transform: rotate(150deg);
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-transition: all 50ms ease-out;
            -moz-transition: all 50ms ease-out;
            -ms-transition: all 50ms ease-out;
            -o-transition: all 50ms ease-out;
            transition: all 50ms ease-out;
        }

        div.rotate45 {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 100ms ease-out;
            -moz-transition: all 100ms ease-out;
            -ms-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
        }
        div.rotate135 {
            -ms-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transition: all 100ms ease-out;
            -moz-transition: all 100ms ease-out;
            -ms-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
        }
    }
}
.header_padding {
    padding-top: 120px;
}
/********************************
ハンバーガーメニュー内容
*********************************/
div.back_circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 35px;
    left: 36px;
    background: var.$orange;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    z-index: 9997;
    &.expand {
        width: 2000px;
        height: 2000px;
        top: -560px;
        left: -565px;
        -webkit-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -moz-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -ms-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        -o-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
        @media screen and (max-width: 765px) {
            width: 1700px;
            height: 1700px;
        }
        & + .menu {
            z-index: 9998;
        }
    }
}

div.menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    ul li {
        list-style: none;
        position: absolute;
        top: 50px;
        left: 0;
        opacity: 0;
        width: 100%;
        text-align: center;
        font-size: 0px;
        -webkit-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
        -moz-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
        -ms-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
        -o-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
        transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
        a {
            color: var.$white;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 3px;
        }
        .btn-r {
            padding: 10px;
            border-radius: 50px;
            width: 200px;
            margin: 0 auto;
            &.reservation_k {
                background-color: var.$green;
                color: var.$white;
            }
            &.reservation_b {
                background-color: var.$white;
                color: var.$orange;
            }
        }
        .sns {
            display: inline-block;
            width: 30px;
            margin: 0 20px;
        }
        &.animate {
            font-size: 1rem;
            opacity: 1;
            -webkit-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
            -moz-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
            -ms-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
            -o-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
            transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
            &:nth-of-type(1) {
                top: 100px;
                transition-delay: 0s;
            }
            &:nth-of-type(2) {
                top: 150px;
                transition-delay: 0.01s;
            }
            &:nth-of-type(3) {
                top: 200px;
                transition-delay: 0.02s;
            }
            &:nth-of-type(4) {
                top: 250px;
                transition-delay: 0.03s;
            }
            &:nth-of-type(5) {
                top: 300px;
                transition-delay: 0.04s;
            }
            &:nth-of-type(6) {
                top: 350px;
                transition-delay: 0.05s;
            }
            &:nth-of-type(7) {
                top: 400px;
                transition-delay: 0.06s;
            }
            &:nth-of-type(8) {
                top: 450px;
                transition-delay: 0.07s;
            }
            &:nth-of-type(9) {
                top: 520px;
                transition-delay: 0.08s;
            }
            &:nth-of-type(10) {
                top: 600px;
                transition-delay: 0.09s;
            }
            // &:nth-of-type(11) {
            //     top: 640px;
            //     transition-delay: 0.1s;
            // }
        }
    }
}
