@use "variables" as var;
.news {
    .list {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 80px;
        padding: 0 80px;
        @media screen and (max-width: 700px) {
            padding: 0 10px;
        }
    }
    .news_title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        position: relative;
        top: -60px;
        @media screen and (max-width: 765px) {
            top: 0;
        }
    }
    .content {
        margin: 60px auto;
    }
    .title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: dotted 1px var.$black;
    }
    .date {
        color: var.$orange;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .pagination {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    .page-numbers {
        display: none;
    }
    .prev,
    .next {
        display: inline;
    }
    .btn-prev,
    .btn-next {
        width: 300px;
        color: var.$white;
        border-radius: 50px;
        padding: 10px 80px;
        font-size: 1.2rem;
        position: relative;
    }
    .btn-prev {
        background-color: var.$white;
        border: solid 1px var.$green;
        margin-right: 5%;
        color: var.$green;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
        }
    }
    .btn-next {
        background-color: var.$green;
        border: solid 1px var.$green;
        margin-left: 5%;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
    .news_btn {
        background-color: var.$orange;
        padding: 5px 15px;
        margin-top: 10px;
        color: var.$white;
        border-radius: 50px;
        display: inline-block;
    }
}
