/********************************
HURU-HURUとは
*********************************/
.overview {
    .content1 {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
        .title {
            font-size: 2rem;
            letter-spacing: 3px;
            font-weight: bold;
            margin-bottom: 80px;
            @media screen and (max-width: 765px) {
                margin-bottom: 40px;
            }
        }
        .des {
            margin-bottom: 80px;
            @media screen and (max-width: 765px) {
                text-align: left;
                margin-bottom: 40px;
            }
        }
        .img {
            width: 500px;
            margin: 0 auto;
            margin-bottom: 80px;
            @media screen and (max-width: 765px) {
                margin-bottom: 40px;
                width: 100%;
            }
        }
    }
    .content2 {
        text-align: center;
        padding: 80px;
        margin-bottom: 40px;
        @media screen and (max-width: 765px) {
            padding: 40px;
        }
        .inner {
            max-width: 1000px;
            margin: 0 auto;
        }
        .title {
            font-size: 2rem;
            letter-spacing: 3px;
            font-weight: bold;
            margin-bottom: 80px;
            padding: 10px 0;
            background-color: #fff;
            @media screen and (max-width: 765px) {
                margin-bottom: 40px;
            }
        }
        .img {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 80px;
            @media screen and (max-width: 765px) {
                margin-bottom: 40px;
            }
        }
        .head {
            background-color: #fff;
            text-align: left;
            padding: 5px 15px;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 20px;
            @media screen and (max-width: 765px) {
                margin-bottom: 10px;
            }
        }
        .head img {
            object-fit: contain;
            width: 20px;
            vertical-align: middle;
        }
        .img_half img {
            width: 15px;
        }
        .data {
            text-align: left;
            margin-bottom: 20px;
            padding-left: 40px;
            @media screen and (max-width: 480px) {
                padding-left: 20px;
            }
        }
    }
}
