.post_frame {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 80px;
}

.post_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.post_content {
    margin-bottom: 80px;
}

.back_news {
    font-size: 1.2rem;
    background-color: #f0a900;
    color: #fff;
    border-radius: 50px;
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}

.page_frame {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 80px;
}

.page_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

.page_content {
    margin-bottom: 80px;
}
