@use "variables" as var;
.post_frame {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 80px;
    @media screen and (max-width: 765px) {
        padding: 20px;
    }
}

.post_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.post_date {
    color: var.$orange;
    font-size: 0.9rem;
}
.post_content {
    margin: 40px auto 80px;
}

.back_news {
    font-size: 1.2rem;
    background-color: var.$orange;
    color: var.$white;
    border-radius: 50px;
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}

.page_frame {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 80px;
    @media screen and (max-width: 765px) {
        padding: 20px;
    }
}

.page_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

.page_content {
    margin-bottom: 80px;
}
